THFundWebApiApp/THFundWebApiApp/Service References/THFundService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" />
  <xs:element name="GetTHLTFFundByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fundID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTHLTFFundByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" minOccurs="0" name="GetTHLTFFundByIDResult" nillable="true" type="q1:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTHLTFFunds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTHLTFFundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" minOccurs="0" name="GetAllTHLTFFundsResult" nillable="true" type="q2:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTHLTFFund">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" minOccurs="0" name="request" nillable="true" type="q3:request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTHLTFFundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" minOccurs="0" name="AddTHLTFFundResult" nillable="true" type="q4:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTHLTFFund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fundID" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" minOccurs="0" name="request" nillable="true" type="q5:request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTHLTFFundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" minOccurs="0" name="UpdateTHLTFFundResult" nillable="true" type="q6:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTHLTFFundByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fundID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTHLTFFundByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" minOccurs="0" name="DeleteTHLTFFundByIDResult" nillable="true" type="q7:response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>