THFundWebApiApp/THFundWebApiApp/Service References/THFundService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="THFundService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_ITHFundService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITHFundService_GetTHLTFFundByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTHLTFFundByID" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_GetTHLTFFundByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTHLTFFundByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_GetAllTHLTFFunds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTHLTFFunds" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_GetAllTHLTFFunds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTHLTFFundsResponse" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_AddTHLTFFund_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTHLTFFund" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_AddTHLTFFund_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTHLTFFundResponse" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_UpdateTHLTFFund_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTHLTFFund" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_UpdateTHLTFFund_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTHLTFFundResponse" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_DeleteTHLTFFundByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTHLTFFundByID" />
  </wsdl:message>
  <wsdl:message name="ITHFundService_DeleteTHLTFFundByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTHLTFFundByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ITHFundService">
    <wsdl:operation name="GetTHLTFFundByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITHFundService/GetTHLTFFundByID" message="tns:ITHFundService_GetTHLTFFundByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITHFundService/GetTHLTFFundByIDResponse" message="tns:ITHFundService_GetTHLTFFundByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTHLTFFunds">
      <wsdl:input wsaw:Action="http://tempuri.org/ITHFundService/GetAllTHLTFFunds" message="tns:ITHFundService_GetAllTHLTFFunds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITHFundService/GetAllTHLTFFundsResponse" message="tns:ITHFundService_GetAllTHLTFFunds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTHLTFFund">
      <wsdl:input wsaw:Action="http://tempuri.org/ITHFundService/AddTHLTFFund" message="tns:ITHFundService_AddTHLTFFund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITHFundService/AddTHLTFFundResponse" message="tns:ITHFundService_AddTHLTFFund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTHLTFFund">
      <wsdl:input wsaw:Action="http://tempuri.org/ITHFundService/UpdateTHLTFFund" message="tns:ITHFundService_UpdateTHLTFFund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITHFundService/UpdateTHLTFFundResponse" message="tns:ITHFundService_UpdateTHLTFFund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTHLTFFundByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITHFundService/DeleteTHLTFFundByID" message="tns:ITHFundService_DeleteTHLTFFundByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITHFundService/DeleteTHLTFFundByIDResponse" message="tns:ITHFundService_DeleteTHLTFFundByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_ITHFundService" type="tns:ITHFundService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_ITHFundService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetTHLTFFundByID">
      <soap12:operation soapAction="http://tempuri.org/ITHFundService/GetTHLTFFundByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTHLTFFunds">
      <soap12:operation soapAction="http://tempuri.org/ITHFundService/GetAllTHLTFFunds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTHLTFFund">
      <soap12:operation soapAction="http://tempuri.org/ITHFundService/AddTHLTFFund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTHLTFFund">
      <soap12:operation soapAction="http://tempuri.org/ITHFundService/UpdateTHLTFFund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTHLTFFundByID">
      <soap12:operation soapAction="http://tempuri.org/ITHFundService/DeleteTHLTFFundByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="THFundService">
    <wsdl:port name="NetNamedPipeBinding_ITHFundService" binding="tns:NetNamedPipeBinding_ITHFundService">
      <soap12:address location="net.pipe://thfundservice/1219568d-18c2-4b0b-9fb4-9db1e1cb32db" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://thfundservice/1219568d-18c2-4b0b-9fb4-9db1e1cb32db</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>