THFundWebApiApp/THFundWebApiApp/Service References/THFundService/WeerutTestWCFService.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeerutTestWCFService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="response">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="fund" nillable="true" type="tns:fund">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="funds" nillable="true" type="tns:ArrayOffund">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="response" nillable="true" type="tns:response" />
  <xs:complexType name="fund">
    <xs:sequence>
      <xs:element name="fundID" nillable="true" type="xs:string" />
      <xs:element name="fundName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="asOfDate" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nav" nillable="true" type="xs:double">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="offer" nillable="true" type="xs:double">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bid" nillable="true" type="xs:double">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fund" nillable="true" type="tns:fund" />
  <xs:complexType name="ArrayOffund">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fund" nillable="true" type="tns:fund" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffund" nillable="true" type="tns:ArrayOffund" />
  <xs:complexType name="request">
    <xs:sequence>
      <xs:element name="fund" nillable="true" type="tns:fund" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="request" nillable="true" type="tns:request" />
</xs:schema>